{"local": {"port": "9871"}, "projs": [{"name": "uboot", "path": "C:\\Users\\rixin\\Desktop\\br22\\BR22_download_tools"}, {"name": "sdk", "path": "C:\\Users\\rixin\\Desktop\\br22_tools"}, {"name": "br22_sdk", "path": "C:\\Users\\rixin\\br22_sdk"}, {"name": "dump", "path": "E:\\share\\download\\br18_download\\apps\\Jldebug"}, {"name": "11", "path": "F:\\br22\\BR22_download_tools\\jtag"}, {"name": "br22_rom", "path": "H:\\work_space\\br22\\mask"}], "remote": {"host": "192.168.8.211", "port": "9872"}}