{
 "target" : "q32s",
 "chip": "bd29",
 "proj" : "bd29_rom",
 "ptl" :  // protocol
 {
	"ver": 2, // debug protocol version
    "loader": // information of loaders
    {
        "file": "loader_jtag.bin", // loader name
        "loader_addr": 0xf00010,   // address of loader debug_stack 0xf00100
        "loader_info": 0xf04000,
        "cpukey_addr": 0xf00000    // address of cpu-key
    },
    "download":
    {
        "script": "download_jtag.bat" // batch file to download
    },
				//  core0,    core1
	"bpcon": 	 [0x70080],	// running ?	
	"bsp":   	 [0x70084],	// debug sp
	"cmd_pause": [0x70098],	// running ?
    "reset_addr": 0x2002, // 下载 loader 前，复位后需要断点的地方
    "pwrcon": 0x10000,  // 用于控制软复位
    "pwrcon_bit": 4,     // 复位需要改的位
	"reset_fun": {
		"content": "c0ff660310009000", // r0 = 0x10036 ;; goto r0
		"addr"   : 0x800
	},
	"bp": [				// hardware breakpoints
		// core0  ,  core1
		[0x70088],  // bp0
		[0x7008c],	// bp1
		[0x70090],	// bp2
		[0x70094]	// bp3
	],
	"etm": [ // memory tracing
		{
			// CORE 0
			"con": 0x701c0,
			"wp": [
				// watch point 0
				{"addrh": 0x701d4, "addrl": 0x701d8,
				 "datah": 0x701dc, "datal": 0x701e0,
				 "pc"   : 0x701e4}
			],
			"trace": [
				0x701d0,	//ETM_PC3
				0x701cc,	//ETM_PC2
				0x701c8,	//ETM_PC1
				0x701c4,	//ETM_PC0
				0x700d4,	//EMU_MSG
				0x7300c,	//DEBUG_MSG
				0x7302c,	//PRP_MMU_MSG
				0x73030,	//LSB_MMU_MSG_CH
				0x73034,	//PRP_WR_LIMIT_MSG
				0x73038		//LSB_WR_LIMIT_CH
			]
		}
	],
	
	"rw": [				// read-write regions
		//[0x0000000, 0x10000]
	],

	"ro": [				// read-only regions		
		[0x1e00000, 0x1e02800]
	],
 
  

	"regs": {
		"count": 32,
		"info":
			[	// register mappings
				// "i" index of dwarf number
				// "o" offset in stack
				// "m" mapping to memory address
							//   core0,    core1
				{"i":  0, "m": [0x70000], "o":   0, "n":   "r0"},
				{"i":  1, "m": [0x70004], "o":   4, "n":   "r1"},
				{"i":  2, "m": [0x70008], "o":   8, "n":   "r2"},
				{"i":  3, "m": [0x7000c], "o":  12, "n":   "r3"},
				{"i":  4, "m": [0x70010], "o":  16, "n":   "r4"},
				{"i":  5, "m": [0x70014], "o":  20, "n":   "r5"},
				{"i":  6, "m": [0x70018], "o":  24, "n":   "r6"},
				{"i":  7, "m": [0x7001c], "o":  28, "n":   "r7"},
				{"i":  8, "m": [0x70020], "o":  32, "n":   "r8"},
				{"i":  9, "m": [0x70024], "o":  36, "n":   "r9"},
				{"i": 10, "m": [0x70028], "o":  40, "n":  "r10"},
				{"i": 11, "m": [0x7002c], "o":  44, "n":  "r11"},
				{"i": 12, "m": [0x70030], "o":  48, "n":  "r12"},
				{"i": 13, "m": [0x70034], "o":  52, "n":  "r13"},
				{"i": 14, "m": [0x70038], "o":  56, "n":  "r14"},
				{"i": 15, "m": [0x7003c], "o":  60, "n":  "r15"},
				// sfr            70
				{"i": 16, "m": [0x70040], "o":  64, "n": "reti"},
				{"i": 17, "m": [0x70044], "o":  68, "n": "rete"},
				{"i": 18, "m": [0x70048], "o":  72, "n": "retx"},
				{"i": 19, "m": [0x7004c], "o":  76, "n": "rets"},
				{"i": 20, "m": [0x70050], "o":  80, "n":  "sr4"},
				{"i": 21, "m": [0x70054], "o":  84, "n":  "psr"},
				{"i": 22, "m": [0x70058], "o":  88, "n": "cnum"},
				{"i": 23, "m": [0x7005c], "o":  92, "n":  "sr7"},
				{"i": 24, "m": [0x70060], "o":  96, "n":  "sr8"},
				{"i": 25, "m": [0x70064], "o": 100, "n":  "sr9"},
				{"i": 26, "m": [0x70068], "o": 104, "n": "sr10"},
				{"i": 27, "m": [0x7006c], "o": 108, "n": "icfg"},
				{"i": 28, "m": [0x70070], "o": 112, "n":  "usp"},
				{"i": 29, "m": [0x70074], "o": 116, "n":  "ssp"},
				{"i": 30, "m": [0x70078], "o": 120, "n":   "sp"},
				{"i": 31, "m": [0x7007c], "o":  68, "n":   "pc"}

			]
	}
 }
}
